.rec {
    color: white;
   font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
    padding: 0;
    border: none;
    
    background: none;  
    position: relative;
}

.invisible-line{
   content: "";
    position: relative;
    height: 2px; 
    background: white; 
    border-radius: 5px;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}
 .line {
    content: "";
    position: relative;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform: scaleX(1);
    transition: .25s linear;
  }
.sidenav{
    height: 100vh;
     width: 43vh;
     overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    
    
    
    
   
}
.caption1{
  color:#795721;
  bottom: -5px;
  font-size: 8px;
  left: 10px;
  
}


.side-nav-buttons{
   position: absolute;
   top: 20%;
 
    
}
.container{  
  width: 100%;
  margin-top: 20%;
  text-align: center;
  margin-left: 50%;
  margin-right: 50%;
  
  
  
}
.btn-login-link{
  position: absolute;
  top: 45%;
  left: 46%;
}
.tb{
  position: absolute;
  left:30%;
  top: 26%;
  width: 70%;
  
}

.rightside{
  height: 100vh;
  width: 10vh;
  float:right;
}
.goo{
  filter: blur(8px) ;
  
}
.toolbar{
  position: absolute;
  left:29%;
  top: 16%;
}
.white{
  color: white;
  left: 50%;
}
.artist-text{
  color: rgb(186, 186, 186);
}

.header{
  background-image: linear-gradient(to right, rgba(209, 105, 105), rgb(243, 148, 148));
  border-radius: 25px;
  width: 70%;
  height: 300px;
  margin-left: 25%;
  margin-top: 10%;
  position: relative;
}
.category{
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
  color: white;
}
.title2{
  color:whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 29%;

}