.title{
    color:whitesmoke;
    margin-left: 10%;
   
    margin-top: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}
.sub-heading-text{
    color:#a7a7a7;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-top: 8%;
    font-size: 17px;
}
.h2-heading-text{
    color: rgb(138, 131, 131);

}
.welcome{
    float:left;
    position: relative;
}
.about-me{
    margin-left:10%;
}